@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1f2937;
  --background: #ffffff;
  --jombita-primary: #c41e3a;
  --jombita-secondary: #991b1b;
  --slate-muted: #64748b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f9fafb;
    --background: #111827;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
